body {
    /* scroll-behavior: smooth; */
    padding: 0;
    margin: 0;
    background: rgb(59,141,73);
    text-align: center;
}

.navbar {
    background:rgb(255,255,255);
}

.navbar-brand {
    color: rgb(59,141,73);
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    color: rgb(59,141,73);
    cursor: pointer;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: rgb(247, 222, 193);
}
.description p {
	color: rgb(255,255,255);
	font-size: 1.3rem;
	line-height: 1.5;
}

footer{
    position: fixed;
    /* position: absolute; */
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: rgb(60,142,73);
    /* background:rgb(255,255,255);     */
    color: white;
    text-align: center;
}

/* .scroller {
    height: 750px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
} */

section {
    padding-top: 2rem;
    padding-bottom: 100px;
}

/* form {
    text-align: center;
    display: flex;
    flex-direction: row;
}

label, input {
    display: inline;
} */